.feynman__link {
  right: 48px;
  top: 50%;
  position: absolute;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}



.feynman__link:hover {
  text-decoration: none;
  opacity: .3;
  transition-duration: .2s;
}
