.header__title {
    display: flex;
    align-items: center;
    margin-left: 64px;
    width: 730px;
    line-height: 96px;
    font-size: 102px;
    font-weight: 700;
    z-index: 3;
    margin-top: 0;
    margin-bottom: 0;
  }